@font-face {
  font-family: "DB Heavent";
  src: url("../../font/DB\ Heavent/DBHeavent.eot");
  src: url("../../font/DB\ Heavent/DBHeavent.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/DB\ Heavent/DBHeavent.woff2") format("woff2"),
    url("../../font/DB\ Heavent/DBHeavent.woff") format("woff"),
    url("../../font/DB\ Heavent/DBHeavent.ttf") format("truetype"),
    url("../../font/DB\ Heavent/DBHeavent.svg#DBHeavent") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DB Helvethaica";
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.eot");
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.woff2")
      format("woff2"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.woff") format("woff"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.ttf")
      format("truetype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-73BdExt.svg#DBHelvethaicaX-73BdExt")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DB Helvethaica";
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.eot");
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.woff2")
      format("woff2"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.woff")
      format("woff"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.ttf")
      format("truetype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-87BlkCond.svg#DBHelvethaicaX-87BlkCond")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DB Helvethaica";
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.eot");
  src: url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.eot?#iefix")
      format("embedded-opentype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.woff2")
      format("woff2"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.woff")
      format("woff"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.ttf")
      format("truetype"),
    url("../../font/DB\ Helvethaica/DBHelvethaicaX-63MedExt.svg#DBHelvethaicaX-63MedExt")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
